{% extends 'base.html.twig' %}

{% block title %}
Formations
{% endblock title %}

{% block main %}

<section class="menu">
    <a class="on" href="formations.html"> Formations </a>
    <a class="inactive" href="seminaires.html"> Séminaires </a>
    <a class="inactive" href="seances.html"> Séances Individuelles </a>
</section>
<h3> Nos Meilleurs formations en ligne </h3>
<section class="container row">
    <section class="produit">
        <h4> Pratiquer la loi d'attraction </h4>
        <article class="element">
            <p class="description"> Améliorer votre vie avec cette formation riche en ressources et en exercices pour pratiquer la loi d'attraction au quotidien.   </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 147 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Pratiquer la PNL au quotidien </h4>
        <article class="element">
            <p class="description"> Améliorer votre quotidien avec cette formation riche en ressources et en exercices pour pratiquer la PNL dans diverses situations à la maison ou au travail </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 197 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Pack PNL - Loi d'attraction </h4>
        <article class="element">
            <p class="description"> Prenez votre vie en main avec ce pack de nos deux formations pour booster sa vie avec des outils et des exercices pratiques  </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 297 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Confiance en soi  </h4>
        <article class="element">
            <p class="description"> Améliorer votre vie avec cette formation sur la confiance en soi : prise de parole en public, vie privée, sociale et professionnelle, la confiance en soi est la clé vers une vie épanouie !   </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 147 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Communication  </h4>
        <article class="element">
            <p class="description"> En couple, en famille et entre amis, la communication non violente vous permettra de vous faire entendre de la meilleure des façons. Cette formation pleine d'exercices est un best seller !   </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 197 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Pack confiance en soi - CNV </h4>
        <article class="element">
            <p class="description"> Boostez vous relations avec le pack confiance en soi et communication non violente. Devenez un expert dans la compétence la plus importante du 21è siècle  </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 297 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
</section>


{% endblock main %}