{% extends 'base.html.twig' %}

{% block title %}
Forum
{% endblock title %}

{% block main %}


<h3 class="my-5 text-perso bold"> Vous êtes bien sur la page du Forum </h3>

<img class="my-5 border-bg" src="{{ asset ('assets/img/wip.jpg')}}" alt="en cours de création">

{% endblock main %}