{% extends 'base.html.twig' %}

{% block title %}
Boutique
{% endblock title %}

{% block main %}

<section class="tool-bar">
    <h2> Boutique </h2>
    <div class="panier">
        <a class="on" href="panier.html"> Panier <img src="{{ asset ('assets/img/panier.png')}}" alt="panier" height="30px"></a>
        <a class="off" href="account.html"><img src="{{ asset ('assets/img/account.png')}}" alt="account logo" height="50px"></a> 
    </div>
</section>
<section class="menu">
    <a class="inactive" href="livres.html"> Livres </a>
    <a class="inactive" href="formations.html"> Formations </a>
    <a class="inactive" href="seminaires.html"> Séminaires </a>
    <a class="inactive" href="seances.html"> Séances </a>
</section>
<h3> Nos Meilleurs produits du moment </h3>
<section class="container row">
    <section class="produit">
        <h4> Le secret </h4>
        <article class="element">
            <img src="img/secret.jpg" alt="le secret" height="900px">
            <p class="description"> Attirez à vous ce que vous voulez !</p>
        </article>
        <p class="resume"> Film sur la loi d'attraction</p>
        <div class="achat">
            <h4 class="prix"> 18 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Pouvoir Illimité </h4>
        <article class="element">
            <img src="img/pouvoirillimite.jpg" alt="pouvoir illimite" height="900px">
            <p class="description"> Changer votre vie avec la PNL</p>
        </article>
        <p class="resume"> Programmation-Neuro-Linguistique</p>
        <div class="achat">
            <h4 class="prix"> 9 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Clé de vie </h4>
        <article class="element">
            <img src="img/cledevie.jpg" alt="pouvoir illimite" height="900px">
            <p class="description"> Les 3 oeuvres magiques de Wallace D. Wattles </p>
        </article>
        <p class="resume"> Réussite personnelle </p>
        <div class="achat">
            <h4 class="prix"> 15 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
</section>
<h3> Nos formations en ligne </h3>
<section class="container row">
    <section class="produit">
        <h4> Pratiquer la loi d'attraction </h4>
        <article class="element">
            <p class="description"> Améliorer votre vie avec cette formation riche en ressources et en exercices pour pratiquer la loi d'attraction au quotidien.   </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 147 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Pratiquer la PNL au quotidien </h4>
        <article class="element">
            <p class="description"> Améliorer votre quotidien avec cette formation riche en ressources et en exercices pour pratiquer la PNL dans diverses situations à la maison ou au travail </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 197 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
    <section class="produit">
        <h4> Pack PNL - Loi d'attraction </h4>
        <article class="element">
            <p class="description"> Prenez votre vie en main avec ce pack de nos deux formations pour booster sa vie avec des outils et des exercices pratiques  </p>
        </article>
        <p class="resume"> Garantie 100% Satisfait ou remboursé </p>
        <div class="achat">
            <h4 class="prix"> 147 € </h4>
            <a class="on" href="addtocart.html"> Ajouter au panier </a>
        </div>
    </section>
</section>


{% endblock main %}