{% extends 'base.html.twig' %}

{% block title %}
EasyWebfactory Inc.
{% endblock title %}

{% block main %}
<div class="coontainer-fluid my-5">

    <h3 class='my-3'> Plus d'infos sur la société EasyWebFactory INC. :</h3>
    <p> La société EasyWebFactory va être créer dès la fin de l'année 2023 après obtention d'un dîplome par l'un de ses fondateur !</p>
    <p> Elle proposera des services de création de site internet et d'applications mobiles. </p>
    <h4><a href="https://valentin-gautier.easywebfactory.com" target='blank'>En savoir plus</a>  </h4>
</div>
{% endblock main %}