{% extends 'base.html.twig' %}

{% block title %}
Erreur sur la page 
{% endblock title %}

{% block main %}

<section class="container-fluid my-5">
    <h1> Erreur sur la page ! </h1>
    <img class="border-bg" src="{{ asset ('assets/img/oops.jpg')}}" alt="oops erreur" title="oops ! Il y a une erreur !">
    <h2 class="my-5"> Oh non il y a une erreur ! Indice : C'est une erreur 500 !</h2>
    <a href="{{ path ('home')}}" class="my-5 btn btn-perso"> Retour à l'accueil </a>
</section>

{% endblock main %}