{% extends 'base.html.twig' %}

{% block title %}
Accueil
{% endblock title %}

{% block login %}
<a href="{{ path ('app_logout')}}">Déconnexion</a>
{% endblock login %}




{% block main %}

<p> Vous êtes bien connecté en tant qu'utilisateur {{ app.user.userIdentifier }}</p>
<h2> Coaching de vie - Programmation-Neuro-Linguistique</h2>
        <section id="description">
            <h3> Valentin Gautier, Coach certifié</h3>
            <p> Conseiller de particulier et auteur de ce site </p>
        </section>
        <section>
            <h3> Découvrez la vidéo de Valentin Gautier avec plus de 580 vues sur Youtube </h3>
            <video src="img/valentin.mp4" autoplay muted></video>
        </section>
        <section id="apropos">
            <h2> A propos </h2>
            <p> Entrepreneur, coach et conseiller de particuliers et top performers, passionné des dernières avancées en neurosciences, Valentin Gautier bouscule depuis plus de dix mois le paysage du business coaching et du développement personnel.<p>Fondateur et dirigeant de Valonaute Inc, comptant une équipe de plus de 2 personnes, Valentin Gautier compte pour clients ses parents, sa soeur, sa copine, des amis et des volontaires du métro parisien.</p><p> Il accompagne ces personnalités à améliorer leur performance ou la croissance de leur business mais aussi des dizaines de particuliers sur le plan du développement personnel et de la confiance en soi. </p><p>Fasciné par comment de petits changements peuvent radicalement transformer notre vie ou nos résultats, son obsession réside dans le fait de partager des outils concrets de la manière la plus captivante et pédagogique possible.</p><p>Le tout validé, ou invalidé, par des recherches scientifiques que son équipe de chercheurs mène. </p>
        </section>


{% endblock main %}