
{% block body %}

    <h1>Bonjour Philiance c'est {{ name }}! </h1>

    Je suis actuellement dans la formation {{ formation }}.
    Et je souhaiterai connaitre mes dates d'examens pour septembre pour la certification. 
    Merci d'avance 

    {{ name }}

{% endblock %}
