<h3 style="text-align: center;">Bienvenue sur CoachingDevPerso.fr ! </h3>

<h4 style="text-align: center;"> {{ user.firstname }} {{ user.lastname }} vous êtes bien inscrit sur notre site depuis le {{ user.registrationdate|date("d/m/Y") }}, merci de votre confiance !</h4>

<p> Vous trouverez divers conseils et outils pour améliorer votre vie ! </p>

<p> Accédez directement à notre site maintenant : </p>

<a href="https://coaching-devperso.easywebfactory.com">Coaching-devperso</a>
